In [1]:
# Import 
import sys
sys.path.append('../')

from a_settings.messages import *   
from a_models.date import *    
from a_models.football_fixtures import *   
     
if __name__ == '__main__': 
    # --------------------------------------------------  
    its_start()
    # --------------------------------------------------  
    space = "  __"
    print(space + "main()", flush=True)  
    # --------------------------------------------------    
    space += "__" 
    # --------------------------------------------------   
    ff_check_api_fixtures_players(space)
    # -------------------------------------------------- 
    its_end()  
    ####################################################

# -------------------------------------------------- Start at 2023-08-23 21:43:27
  __main()
  ______ff_check_api_fixtures_players()
  ______Select  fixtureapi_id   from football_fixtures  where api_fixtures_players_updated_at is null  and leagueapi_id = 39  and season = 2023  and fixture_status IN ('Match Finished' ,'Match Finished Ended')
  ______Total Row(s) : 19
  ______[1/19]  #1035037
  ________afP_controll_match_update()
  __________aa_check_acccount()
  ____________API api4@ariondigitalmedia.com counter is 86
  ____________APIkey: 03bea24719msh05aea1e5cc15e89p10ac26jsne1f972cc6037
  __________aa_check_acccount()
  __________aa_update_counter()
  __________afP_response_fixtures()
  ____________fixtureapi_id : 1035037
  ____________ROUTES : league_season
  ______________Total API Response(s) : 2
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  162489,  1035037,  90,  1,  'G',  7.5,  0,  0,  0,  0,  0,  0,  3,  0,  5,  44,  0,  31,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  19331,  1035037,  90,  14,  'D',  6.5,  0,  0,  0,  0,  0,  0,  0,  0,  0,  38,  0,  33,  2,  0,  0,  4,  3,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  323449,  1035037,  90,  28,  'D',  6.3,  0,  0,  0,  0,  0,  0,  0,  0,  0,  36,  0,  30,  2,  1,  1,  11,  5,  0,  0,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  17597,  1035037,  90,  2,  'D',  6.5,  0,  0,  0,  0,  0,  0,  0,  0,  0,  56,  0,  42,  0,  2,  1,  5,  3,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  25628,  1035037,  74,  5,  'D',  6.9,  0,  0,  0,  0,  0,  0,  0,  0,  0,  35,  0,  28,  4,  0,  4,  7,  5,  1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  8661,  1035037,  90,  22,  'D',  6.2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  22,  1,  17,  0,  1,  1,  3,  1,  1,  0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  359603,  1035037,  61,  30,  'M',  6.5,  0,  0,  0,  1,  0,  0,  0,  0,  0,  13,  2,  8,  0,  0,  0,  5,  0,  2,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  1934,  1035037,  89,  16,  'M',  6.5,  0,  0,  0,  0,  0,  0,  0,  0,  0,  28,  0,  23,  0,  1,  0,  5,  2,  0,  0,  1,  0,  2,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  19827,  1035037,  90,  24,  'M',  6.3,  1,  0,  0,  0,  0,  0,  0,  0,  0,  41,  0,  36,  1,  0,  0,  4,  3,  0,  0,  1,  2,  0,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  98936,  1035037,  89,  17,  'M',  6.5,  0,  0,  0,  1,  0,  0,  0,  0,  0,  20,  1,  14,  2,  0,  0,  13,  5,  3,  1,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  123469,  1035037,  61,  25,  'F',  6.9,  0,  0,  0,  1,  1,  0,  0,  0,  0,  11,  0,  10,  1,  0,  0,  11,  6,  4,  2,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  129169,  1035037,  33,  19,  'F',  6.3,  0,  1,  0,  0,  0,  0,  0,  0,  0,  8,  1,  8,  0,  0,  0,  2,  1,  0,  0,  0,  1,  1,  0,  1,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  22,  1035037,  29,  34,  'F',  6.6,  0,  1,  0,  1,  0,  0,  0,  0,  0,  5,  0,  3,  0,  0,  0,  4,  2,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  8589,  1035037,  16,  10,  'F',  5.9,  0,  1,  0,  0,  0,  0,  0,  0,  0,  4,  0,  4,  0,  0,  0,  6,  0,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )
  ________________UPDATE `football_fixtures` SET  api_fixtures_players_updated_at = now(),  `updated_at` = now()  where fixtureapi_id = 1035037  and leagueapi_id = 39  and season = 2023
  ________________Select  leagueapi_id  , season   , date  from football_fixtures  where fixtureapi_id = '1035037'
  ________________Total Row(s) : 1
  ________________INSERT INTO `api_football_player_analysis`(  `date`,  `leagueapi_id`,  `season`,  `teamapi_id`,  `playerapi_id`,  `fixtureapi_id`,  `minutes`,  `number`,  `position`,  `rating`,  `captain`,  `substitute`,  `offsides`,  `shots_total`,  `shots_on`,  `goals_total`,  `goals_conceded`,  `goals_assists`,  `goals_saves`,  `passes_total`,  `passes_key`,  `passes_accuracy`,  `tackles_total`,  `tackles_blocks`,  `tackles_interceptions`,  `duels_total`,  `duels_won`,  `dribbles_attempts`,  `dribbles_success`,  `dribbles_past`,  `fouls_drawn`,  `fouls_committed`,  `cards_yellow`,  `cards_red`,  `penalty_won`,  `penalty_commited`,  `penalty_scored`,  `penalty_missed`,  `penalty_saved`,  `created_at`  ) VALUES (  '2023-08-11 19:00:00',  39,  2023,  44,  19268,  1035037,  8,  8,  'M',  6.3,  0,  1,  0,  0,  0,  0,  0,  0,  0,  2,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  current_timestamp )