In [12]:
# Import
import mysql.connector 
# ---------------------------------------------------------- 
# Connect to DB
# ---------------------------------------------------------- 
space = "__"
# ---------------------------------------------------------- 
host="localhost"
user="root" 
database="pr_mmbuzz_2022_06"
mydb = mysql.connector.connect(host=host,user=user,password="",database=database)
mycursor = mydb.cursor()
# ---------------------------------------------------------- 
query = " SELECT * "
# ---------------------------------------------------------- 
query += ' FROM `bets_old` '   
query += ' WHERE `bet_id` = 4 '    
query += ' order by total asc '   
# ---------------------------------------------------------- 
print(space + query, flush=True) 
# ---------------------------------------------------------- 
mycursor = mydb.cursor()
mycursor.execute(query)
result =  mycursor.fetchall()
# ---------------------------------------------------------- 
space += "__"
# ---------------------------------------------------------- 
total_rows = len(result)
print(space + "Total Row(s) : " + str(total_rows), flush=True) 
# ----------------------------------------------------------    
print("", flush=True)
counter = 0
# ----------------------------------------------------------  
space += "__"
# ---------------------------------------------------------- 
for x in result:   
    # ------------------------------------------------------
    counter        += 1
    # ------------------------------------------------------ 
    columnx = str(x[5]) 
    # ------------------------------------------------------
    #  query_1 += ", " + prep_col + "asian_handicap_home_min_675"
    word = 'query_1 += ", " + prep_col + "'+columnx+'"'
    print(word, flush=True)

__ SELECT *  FROM `bets_old`  WHERE `bet_id` = 4  order by total asc
____Total Row(s) : 110

query_1 += ", " + prep_col + "asian_handicap_home_min_675"
query_1 += ", " + prep_col + "asian_handicap_away_min_675"
query_1 += ", " + prep_col + "asian_handicap_home_min_65"
query_1 += ", " + prep_col + "asian_handicap_away_min_65"
query_1 += ", " + prep_col + "asian_handicap_home_min_625"
query_1 += ", " + prep_col + "asian_handicap_away_min_625"
query_1 += ", " + prep_col + "asian_handicap_home_min_6"
query_1 += ", " + prep_col + "asian_handicap_away_min_6"
query_1 += ", " + prep_col + "asian_handicap_home_min_575"
query_1 += ", " + prep_col + "asian_handicap_away_min_575"
query_1 += ", " + prep_col + "asian_handicap_home_min_55"
query_1 += ", " + prep_col + "asian_handicap_away_min_55"
query_1 += ", " + prep_col + "asian_handicap_home_min_525"
query_1 += ", " + prep_col + "asian_handicap_away_min_525"
query_1 += ", " + prep_col + "asian_handicap_home_min_5"
query_1 += ", " + prep_col + "asian_handicap_away_min_5"
query_1 += ", " + prep_col + "asian_handicap_home_min_475"
query_1 += ", " + prep_col + "asian_handicap_away_min_475"
query_1 += ", " + prep_col + "asian_handicap_home_min_45"
query_1 += ", " + prep_col + "asian_handicap_away_min_45"
query_1 += ", " + prep_col + "asian_handicap_home_min_425"
query_1 += ", " + prep_col + "asian_handicap_away_min_425"
query_1 += ", " + prep_col + "asian_handicap_home_min_4"
query_1 += ", " + prep_col + "asian_handicap_away_min_4"
query_1 += ", " + prep_col + "asian_handicap_home_min_375"
query_1 += ", " + prep_col + "asian_handicap_away_min_375"
query_1 += ", " + prep_col + "asian_handicap_home_min_35"
query_1 += ", " + prep_col + "asian_handicap_away_min_35"
query_1 += ", " + prep_col + "asian_handicap_home_min_325"
query_1 += ", " + prep_col + "asian_handicap_away_min_325"
query_1 += ", " + prep_col + "asian_handicap_home_min_3"
query_1 += ", " + prep_col + "asian_handicap_away_min_3"
query_1 += ", " + prep_col + "asian_handicap_home_min_275"
query_1 += ", " + prep_col + "asian_handicap_away_min_275"
query_1 += ", " + prep_col + "asian_handicap_home_min_25"
query_1 += ", " + prep_col + "asian_handicap_away_min_25"
query_1 += ", " + prep_col + "asian_handicap_home_min_225"
query_1 += ", " + prep_col + "asian_handicap_away_min_225"
query_1 += ", " + prep_col + "asian_handicap_home_min_2"
query_1 += ", " + prep_col + "asian_handicap_away_min_2"
query_1 += ", " + prep_col + "asian_handicap_home_min_175"
query_1 += ", " + prep_col + "asian_handicap_away_min_175"
query_1 += ", " + prep_col + "asian_handicap_home_min_15"
query_1 += ", " + prep_col + "asian_handicap_away_min_15"
query_1 += ", " + prep_col + "asian_handicap_home_min_125"
query_1 += ", " + prep_col + "asian_handicap_away_min_125"
query_1 += ", " + prep_col + "asian_handicap_home_min_1"
query_1 += ", " + prep_col + "asian_handicap_away_min_1"
query_1 += ", " + prep_col + "asian_handicap_home_min_075"
query_1 += ", " + prep_col + "asian_handicap_away_min_075"
query_1 += ", " + prep_col + "asian_handicap_home_min_05"
query_1 += ", " + prep_col + "asian_handicap_away_min_05"
query_1 += ", " + prep_col + "asian_handicap_home_min_025"
query_1 += ", " + prep_col + "asian_handicap_away_min_025"
query_1 += ", " + prep_col + "asian_handicap_home_plus_0"
query_1 += ", " + prep_col + "asian_handicap_away_plus_0"
query_1 += ", " + prep_col + "asian_handicap_home_plus_025"
query_1 += ", " + prep_col + "asian_handicap_away_plus_025"
query_1 += ", " + prep_col + "asian_handicap_home_plus_05"
query_1 += ", " + prep_col + "asian_handicap_away_plus_05"
query_1 += ", " + prep_col + "asian_handicap_home_plus_075"
query_1 += ", " + prep_col + "asian_handicap_away_plus_075"
query_1 += ", " + prep_col + "asian_handicap_home_plus_1"
query_1 += ", " + prep_col + "asian_handicap_away_plus_1"
query_1 += ", " + prep_col + "asian_handicap_home_plus_125"
query_1 += ", " + prep_col + "asian_handicap_away_plus_125"
query_1 += ", " + prep_col + "asian_handicap_home_plus_15"
query_1 += ", " + prep_col + "asian_handicap_away_plus_15"
query_1 += ", " + prep_col + "asian_handicap_home_plus_175"
query_1 += ", " + prep_col + "asian_handicap_away_plus_175"
query_1 += ", " + prep_col + "asian_handicap_home_plus_2"
query_1 += ", " + prep_col + "asian_handicap_away_plus_2"
query_1 += ", " + prep_col + "asian_handicap_home_plus_225"
query_1 += ", " + prep_col + "asian_handicap_away_plus_225"
query_1 += ", " + prep_col + "asian_handicap_home_plus_25"
query_1 += ", " + prep_col + "asian_handicap_away_plus_25"
query_1 += ", " + prep_col + "asian_handicap_home_plus_275"
query_1 += ", " + prep_col + "asian_handicap_away_plus_275"
query_1 += ", " + prep_col + "asian_handicap_home_plus_3"
query_1 += ", " + prep_col + "asian_handicap_away_plus_3"
query_1 += ", " + prep_col + "asian_handicap_home_plus_325"
query_1 += ", " + prep_col + "asian_handicap_away_plus_325"
query_1 += ", " + prep_col + "asian_handicap_home_plus_35"
query_1 += ", " + prep_col + "asian_handicap_away_plus_35"
query_1 += ", " + prep_col + "asian_handicap_home_plus_375"
query_1 += ", " + prep_col + "asian_handicap_away_plus_375"
query_1 += ", " + prep_col + "asian_handicap_home_plus_4"
query_1 += ", " + prep_col + "asian_handicap_away_plus_4"
query_1 += ", " + prep_col + "asian_handicap_home_plus_425"
query_1 += ", " + prep_col + "asian_handicap_away_plus_425"
query_1 += ", " + prep_col + "asian_handicap_home_plus_45"
query_1 += ", " + prep_col + "asian_handicap_away_plus_45"
query_1 += ", " + prep_col + "asian_handicap_home_plus_475"
query_1 += ", " + prep_col + "asian_handicap_away_plus_475"
query_1 += ", " + prep_col + "asian_handicap_home_plus_5"
query_1 += ", " + prep_col + "asian_handicap_away_plus_5"
query_1 += ", " + prep_col + "asian_handicap_home_plus_525"
query_1 += ", " + prep_col + "asian_handicap_away_plus_525"
query_1 += ", " + prep_col + "asian_handicap_home_plus_55"
query_1 += ", " + prep_col + "asian_handicap_away_plus_55"
query_1 += ", " + prep_col + "asian_handicap_home_plus_575"
query_1 += ", " + prep_col + "asian_handicap_away_plus_575"
query_1 += ", " + prep_col + "asian_handicap_home_plus_6"
query_1 += ", " + prep_col + "asian_handicap_away_plus_6"
query_1 += ", " + prep_col + "asian_handicap_home_plus_625"
query_1 += ", " + prep_col + "asian_handicap_away_plus_625"
query_1 += ", " + prep_col + "asian_handicap_home_plus_65"
query_1 += ", " + prep_col + "asian_handicap_away_plus_65"
query_1 += ", " + prep_col + "asian_handicap_home_plus_675"
query_1 += ", " + prep_col + "asian_handicap_away_plus_675"

In [13]:
# Import
import mysql.connector 
# ---------------------------------------------------------- 
# Connect to DB
# ---------------------------------------------------------- 
space = "__"
# ---------------------------------------------------------- 
host="localhost"
user="root" 
database="pr_mmbuzz_2022_06"
mydb = mysql.connector.connect(host=host,user=user,password="",database=database)
mycursor = mydb.cursor()
# ---------------------------------------------------------- 
query = " SELECT * "
# ---------------------------------------------------------- 
query += ' FROM `bets_old` '   
query += ' WHERE `bet_id` = 5 '    
query += ' order by total asc '   
# ---------------------------------------------------------- 
print(space + query, flush=True) 
# ---------------------------------------------------------- 
mycursor = mydb.cursor()
mycursor.execute(query)
result =  mycursor.fetchall()
# ---------------------------------------------------------- 
space += "__"
# ---------------------------------------------------------- 
total_rows = len(result)
print(space + "Total Row(s) : " + str(total_rows), flush=True) 
# ----------------------------------------------------------    
print("", flush=True)
counter = 0
# ----------------------------------------------------------  
space += "__"
# ---------------------------------------------------------- 
for x in result:   
    # ------------------------------------------------------
    counter        += 1
    # ------------------------------------------------------ 
    columnx = str(x[5]) 
    # ------------------------------------------------------
    #  query_1 += ", " + prep_col + "asian_handicap_home_min_675"
    word = 'query_1 += ", " + prep_col + "'+columnx+'"'
    print(word, flush=True)

__ SELECT *  FROM `bets_old`  WHERE `bet_id` = 5  order by total asc
____Total Row(s) : 60

query_1 += ", " + prep_col + "goals_overunder_over_05"
query_1 += ", " + prep_col + "goals_overunder_under_05"
query_1 += ", " + prep_col + "goals_overunder_over_075"
query_1 += ", " + prep_col + "goals_overunder_under_075"
query_1 += ", " + prep_col + "goals_overunder_over_10"
query_1 += ", " + prep_col + "goals_overunder_under_10"
query_1 += ", " + prep_col + "goals_overunder_over_125"
query_1 += ", " + prep_col + "goals_overunder_under_125"
query_1 += ", " + prep_col + "goals_overunder_over_15"
query_1 += ", " + prep_col + "goals_overunder_under_15"
query_1 += ", " + prep_col + "goals_overunder_over_175"
query_1 += ", " + prep_col + "goals_overunder_under_175"
query_1 += ", " + prep_col + "goals_overunder_over_20"
query_1 += ", " + prep_col + "goals_overunder_under_20"
query_1 += ", " + prep_col + "goals_overunder_over_225"
query_1 += ", " + prep_col + "goals_overunder_under_225"
query_1 += ", " + prep_col + "goals_overunder_over_25"
query_1 += ", " + prep_col + "goals_overunder_under_25"
query_1 += ", " + prep_col + "goals_overunder_over_275"
query_1 += ", " + prep_col + "goals_overunder_under_275"
query_1 += ", " + prep_col + "goals_overunder_over_30"
query_1 += ", " + prep_col + "goals_overunder_under_30"
query_1 += ", " + prep_col + "goals_overunder_over_325"
query_1 += ", " + prep_col + "goals_overunder_under_325"
query_1 += ", " + prep_col + "goals_overunder_over_35"
query_1 += ", " + prep_col + "goals_overunder_under_35"
query_1 += ", " + prep_col + "goals_overunder_over_375"
query_1 += ", " + prep_col + "goals_overunder_under_375"
query_1 += ", " + prep_col + "goals_overunder_over_40"
query_1 += ", " + prep_col + "goals_overunder_under_40"
query_1 += ", " + prep_col + "goals_overunder_over_425"
query_1 += ", " + prep_col + "goals_overunder_under_425"
query_1 += ", " + prep_col + "goals_overunder_over_45"
query_1 += ", " + prep_col + "goals_overunder_under_45"
query_1 += ", " + prep_col + "goals_overunder_over_475"
query_1 += ", " + prep_col + "goals_overunder_under_475"
query_1 += ", " + prep_col + "goals_overunder_over_50"
query_1 += ", " + prep_col + "goals_overunder_under_50"
query_1 += ", " + prep_col + "goals_overunder_over_525"
query_1 += ", " + prep_col + "goals_overunder_under_525"
query_1 += ", " + prep_col + "goals_overunder_over_55"
query_1 += ", " + prep_col + "goals_overunder_under_55"
query_1 += ", " + prep_col + "goals_overunder_over_575"
query_1 += ", " + prep_col + "goals_overunder_under_575"
query_1 += ", " + prep_col + "goals_overunder_over_60"
query_1 += ", " + prep_col + "goals_overunder_under_60"
query_1 += ", " + prep_col + "goals_overunder_over_625"
query_1 += ", " + prep_col + "goals_overunder_under_625"
query_1 += ", " + prep_col + "goals_overunder_over_65"
query_1 += ", " + prep_col + "goals_overunder_under_65"
query_1 += ", " + prep_col + "goals_overunder_over_675"
query_1 += ", " + prep_col + "goals_overunder_under_675"
query_1 += ", " + prep_col + "goals_overunder_over_70"
query_1 += ", " + prep_col + "goals_overunder_under_70"
query_1 += ", " + prep_col + "goals_overunder_over_75"
query_1 += ", " + prep_col + "goals_overunder_under_75"
query_1 += ", " + prep_col + "goals_overunder_over_85"
query_1 += ", " + prep_col + "goals_overunder_under_85"
query_1 += ", " + prep_col + "goals_overunder_over_95"
query_1 += ", " + prep_col + "goals_overunder_under_95"

In [16]:
# Import
import mysql.connector 
# ---------------------------------------------------------- 
# Connect to DB
# ---------------------------------------------------------- 
space = "__"
# ---------------------------------------------------------- 
host="localhost"
user="root" 
database="pr_mmbuzz_2022_06"
mydb = mysql.connector.connect(host=host,user=user,password="",database=database)
mycursor = mydb.cursor()
# ---------------------------------------------------------- 
query = " SELECT * "
# ---------------------------------------------------------- 
query += ' FROM `bets_old` '   
query += ' WHERE `bet_id` = 4 '   
query += ' and value like "%Home%" '   
query += ' order by total asc '   
# ---------------------------------------------------------- 
print(space + query, flush=True) 
# ---------------------------------------------------------- 
mycursor = mydb.cursor()
mycursor.execute(query)
result =  mycursor.fetchall()
# ---------------------------------------------------------- 
space += "__"
# ---------------------------------------------------------- 
total_rows = len(result)
print(space + "Total Row(s) : " + str(total_rows), flush=True) 
# ----------------------------------------------------------    
print("", flush=True)
counter = 0
# ----------------------------------------------------------  
space += "__"
# ---------------------------------------------------------- 
for x in result:   
    # ------------------------------------------------------
    counter        += 1
    # ------------------------------------------------------ 
    value = str(x[3].replace("+", "plus_").replace("-", "min_").replace("Home ", "").replace(".", ""))
     
    # ------------------------------------------------------
    word = ""
    print(word, flush=True)
    # ------------------------------------------------------
    word = "counter_col += 1"
    print(word, flush=True)
    # ------------------------------------------------------
    word = "ah_" + value + " = rs1[counter_col] "
    print(word, flush=True)

__ SELECT *  FROM `bets_old`  WHERE `bet_id` = 4  and value like "%Home%"  order by total asc
____Total Row(s) : 55


counter_col += 1
ah_min_675 = rs1[counter_col]

counter_col += 1
ah_min_65 = rs1[counter_col]

counter_col += 1
ah_min_625 = rs1[counter_col]

counter_col += 1
ah_min_6 = rs1[counter_col]

counter_col += 1
ah_min_575 = rs1[counter_col]

counter_col += 1
ah_min_55 = rs1[counter_col]

counter_col += 1
ah_min_525 = rs1[counter_col]

counter_col += 1
ah_min_5 = rs1[counter_col]

counter_col += 1
ah_min_475 = rs1[counter_col]

counter_col += 1
ah_min_45 = rs1[counter_col]

counter_col += 1
ah_min_425 = rs1[counter_col]

counter_col += 1
ah_min_4 = rs1[counter_col]

counter_col += 1
ah_min_375 = rs1[counter_col]

counter_col += 1
ah_min_35 = rs1[counter_col]

counter_col += 1
ah_min_325 = rs1[counter_col]

counter_col += 1
ah_min_3 = rs1[counter_col]

counter_col += 1
ah_min_275 = rs1[counter_col]

counter_col += 1
ah_min_25 = rs1[counter_col]

counter_col += 1
ah_min_225 = rs1[counter_col]

counter_col += 1
ah_min_2 = rs1[counter_col]

counter_col += 1
ah_min_175 = rs1[counter_col]

counter_col += 1
ah_min_15 = rs1[counter_col]

counter_col += 1
ah_min_125 = rs1[counter_col]

counter_col += 1
ah_min_1 = rs1[counter_col]

counter_col += 1
ah_min_075 = rs1[counter_col]

counter_col += 1
ah_min_05 = rs1[counter_col]

counter_col += 1
ah_min_025 = rs1[counter_col]

counter_col += 1
ah_plus_0 = rs1[counter_col]

counter_col += 1
ah_plus_025 = rs1[counter_col]

counter_col += 1
ah_plus_05 = rs1[counter_col]

counter_col += 1
ah_plus_075 = rs1[counter_col]

counter_col += 1
ah_plus_1 = rs1[counter_col]

counter_col += 1
ah_plus_125 = rs1[counter_col]

counter_col += 1
ah_plus_15 = rs1[counter_col]

counter_col += 1
ah_plus_175 = rs1[counter_col]

counter_col += 1
ah_plus_2 = rs1[counter_col]

counter_col += 1
ah_plus_225 = rs1[counter_col]

counter_col += 1
ah_plus_25 = rs1[counter_col]

counter_col += 1
ah_plus_275 = rs1[counter_col]

counter_col += 1
ah_plus_3 = rs1[counter_col]

counter_col += 1
ah_plus_325 = rs1[counter_col]

counter_col += 1
ah_plus_35 = rs1[counter_col]

counter_col += 1
ah_plus_375 = rs1[counter_col]

counter_col += 1
ah_plus_4 = rs1[counter_col]

counter_col += 1
ah_plus_425 = rs1[counter_col]

counter_col += 1
ah_plus_45 = rs1[counter_col]

counter_col += 1
ah_plus_475 = rs1[counter_col]

counter_col += 1
ah_plus_5 = rs1[counter_col]

counter_col += 1
ah_plus_525 = rs1[counter_col]

counter_col += 1
ah_plus_55 = rs1[counter_col]

counter_col += 1
ah_plus_575 = rs1[counter_col]

counter_col += 1
ah_plus_6 = rs1[counter_col]

counter_col += 1
ah_plus_625 = rs1[counter_col]

counter_col += 1
ah_plus_65 = rs1[counter_col]

counter_col += 1
ah_plus_675 = rs1[counter_col]

__ SELECT *  FROM `bets_old`  WHERE `bet_id` = 5  and value like "%Over%"  order by total asc
____Total Row(s) : 30


counter_col += 1
gou_05 = rs1[counter_col]

counter_col += 1
gou_075 = rs1[counter_col]

counter_col += 1
gou_10 = rs1[counter_col]

counter_col += 1
gou_125 = rs1[counter_col]

counter_col += 1
gou_15 = rs1[counter_col]

counter_col += 1
gou_175 = rs1[counter_col]

counter_col += 1
gou_20 = rs1[counter_col]

counter_col += 1
gou_225 = rs1[counter_col]

counter_col += 1
gou_25 = rs1[counter_col]

counter_col += 1
gou_275 = rs1[counter_col]

counter_col += 1
gou_30 = rs1[counter_col]

counter_col += 1
gou_325 = rs1[counter_col]

counter_col += 1
gou_35 = rs1[counter_col]

counter_col += 1
gou_375 = rs1[counter_col]

counter_col += 1
gou_40 = rs1[counter_col]

counter_col += 1
gou_425 = rs1[counter_col]

counter_col += 1
gou_45 = rs1[counter_col]

counter_col += 1
gou_475 = rs1[counter_col]

counter_col += 1
gou_50 = rs1[counter_col]

counter_col += 1
gou_525 = rs1[counter_col]

counter_col += 1
gou_55 = rs1[counter_col]

counter_col += 1
gou_575 = rs1[counter_col]

counter_col += 1
gou_60 = rs1[counter_col]

counter_col += 1
gou_625 = rs1[counter_col]

counter_col += 1
gou_65 = rs1[counter_col]

counter_col += 1
gou_675 = rs1[counter_col]

counter_col += 1
gou_70 = rs1[counter_col]

counter_col += 1
gou_75 = rs1[counter_col]

counter_col += 1
gou_85 = rs1[counter_col]

counter_col += 1
gou_95 = rs1[counter_col]

In [20]:
# Import
import mysql.connector 
# ---------------------------------------------------------- 
# Connect to DB
# ---------------------------------------------------------- 
space = "__"
# ---------------------------------------------------------- 
host="localhost"
user="root" 
database="pr_mmbuzz_2022_06"
mydb = mysql.connector.connect(host=host,user=user,password="",database=database)
mycursor = mydb.cursor()
# ---------------------------------------------------------- 
query = " SELECT * "
# ---------------------------------------------------------- 
query += ' FROM `bets_old` '   
query += ' WHERE `bet_id` = 4 '   
query += ' and value like "%Home%" '   
query += ' order by total asc '   
# ---------------------------------------------------------- 
print(space + query, flush=True) 
# ---------------------------------------------------------- 
mycursor = mydb.cursor()
mycursor.execute(query)
result =  mycursor.fetchall()
# ---------------------------------------------------------- 
space += "__"
# ---------------------------------------------------------- 
total_rows = len(result)
print(space + "Total Row(s) : " + str(total_rows), flush=True) 
# ----------------------------------------------------------    
print("", flush=True)
counter = 0
# ----------------------------------------------------------  
space += "__"
# ---------------------------------------------------------- 
for x in result:   
    # ------------------------------------------------------
    counter        += 1
    # ------------------------------------------------------ 
    value = str(x[3].replace("+", "plus_").replace("-", "min_").replace("Home ", "").replace(".", ""))
     
    # ------------------------------------------------------
    word = ""
    print(word, flush=True)
    # ------------------------------------------------------
    word = "counter_col += 1"
    print(word, flush=True)
    # ------------------------------------------------------
    word = "ah_" + value + " = rs1[counter_col] "
    print(word, flush=True)

__ SELECT *  FROM `bets_old`  WHERE `bet_id` = 4  and value like "%Home%"  order by total asc
____Total Row(s) : 55


counter_col += 1
ah_min_675 = rs1[counter_col]

counter_col += 1
ah_min_65 = rs1[counter_col]

counter_col += 1
ah_min_625 = rs1[counter_col]

counter_col += 1
ah_min_6 = rs1[counter_col]

counter_col += 1
ah_min_575 = rs1[counter_col]

counter_col += 1
ah_min_55 = rs1[counter_col]

counter_col += 1
ah_min_525 = rs1[counter_col]

counter_col += 1
ah_min_5 = rs1[counter_col]

counter_col += 1
ah_min_475 = rs1[counter_col]

counter_col += 1
ah_min_45 = rs1[counter_col]

counter_col += 1
ah_min_425 = rs1[counter_col]

counter_col += 1
ah_min_4 = rs1[counter_col]

counter_col += 1
ah_min_375 = rs1[counter_col]

counter_col += 1
ah_min_35 = rs1[counter_col]

counter_col += 1
ah_min_325 = rs1[counter_col]

counter_col += 1
ah_min_3 = rs1[counter_col]

counter_col += 1
ah_min_275 = rs1[counter_col]

counter_col += 1
ah_min_25 = rs1[counter_col]

counter_col += 1
ah_min_225 = rs1[counter_col]

counter_col += 1
ah_min_2 = rs1[counter_col]

counter_col += 1
ah_min_175 = rs1[counter_col]

counter_col += 1
ah_min_15 = rs1[counter_col]

counter_col += 1
ah_min_125 = rs1[counter_col]

counter_col += 1
ah_min_1 = rs1[counter_col]

counter_col += 1
ah_min_075 = rs1[counter_col]

counter_col += 1
ah_min_05 = rs1[counter_col]

counter_col += 1
ah_min_025 = rs1[counter_col]

counter_col += 1
ah_plus_0 = rs1[counter_col]

counter_col += 1
ah_plus_025 = rs1[counter_col]

counter_col += 1
ah_plus_05 = rs1[counter_col]

counter_col += 1
ah_plus_075 = rs1[counter_col]

counter_col += 1
ah_plus_1 = rs1[counter_col]

counter_col += 1
ah_plus_125 = rs1[counter_col]

counter_col += 1
ah_plus_15 = rs1[counter_col]

counter_col += 1
ah_plus_175 = rs1[counter_col]

counter_col += 1
ah_plus_2 = rs1[counter_col]

counter_col += 1
ah_plus_225 = rs1[counter_col]

counter_col += 1
ah_plus_25 = rs1[counter_col]

counter_col += 1
ah_plus_275 = rs1[counter_col]

counter_col += 1
ah_plus_3 = rs1[counter_col]

counter_col += 1
ah_plus_325 = rs1[counter_col]

counter_col += 1
ah_plus_35 = rs1[counter_col]

counter_col += 1
ah_plus_375 = rs1[counter_col]

counter_col += 1
ah_plus_4 = rs1[counter_col]

counter_col += 1
ah_plus_425 = rs1[counter_col]

counter_col += 1
ah_plus_45 = rs1[counter_col]

counter_col += 1
ah_plus_475 = rs1[counter_col]

counter_col += 1
ah_plus_5 = rs1[counter_col]

counter_col += 1
ah_plus_525 = rs1[counter_col]

counter_col += 1
ah_plus_55 = rs1[counter_col]

counter_col += 1
ah_plus_575 = rs1[counter_col]

counter_col += 1
ah_plus_6 = rs1[counter_col]

counter_col += 1
ah_plus_625 = rs1[counter_col]

counter_col += 1
ah_plus_65 = rs1[counter_col]

counter_col += 1
ah_plus_675 = rs1[counter_col]